# Requirements to run examples.
lightgbm

# Lint & Formatting
flake8
black; python_version >= '3.6'
git+https://github.com/timothycrosley/isort; python_version >= '3.6'

# Type checking
mypy

# Test
pytest
pytest-cov

# Documentation build
sphinx>=2.4.3
sphinx-rtd-theme

# Package build
wheel
