# Requirements to run examples.
lightgbm

# Lint & Formatting
flake8
black
git+https://github.com/timothycrosley/isort.git@30296c75932ccfb17f9b9008eeb4423520884fcc

# Type checking
mypy<0.782

# Test
pytest
pytest-cov

# Documentation build
sphinx==2.4.3
sphinx-rtd-theme

# Package build
wheel
